sources/GUI/.vs/
sources/Downgrader/.vs/
sources/.vs/
*.exe
*.cache
*.dll
*.p7s
*.nupkg
sources/packages/
sources/Downgrader/bin/
sources/Downgrader/obj/
sources/GUI/bin/
sources/GUI/obj/
*.csproj.user
sources/packages/